@import '~../../scss/variables';
@import '~modularscale-sass/stylesheets/modular-scale';

.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  background: #fff;
  margin-bottom: 2em;
  padding: 0.5em;

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    background: rgba(#333, 0.3);
    // background image from http://www.transparenttextures.com/ by Atle Mo
    // background-image: url(../../images/carbon-fibre.png);

  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }

  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }


  @media only screen and (max-width: 720px) {
    flex-flow: row;
    algin-items: center;
    height: 100px;
    padding: 0;
    align-items: flex-end;
    position: absolute;
    // background: white;
  }

  .logo {
    display: inline-block;
    height: inherit;
    opacity: 1;
    flex: 1 75%;
    max-width: 13.75rem; // 220px/16 base
    margin-right: auto;
    align-self: flex-start;


    @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

    }

    @media (min-width:30.063em) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
      max-width: 21.875rem; // 350px/16 base
    }

    @media (min-width:40.063em) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      max-width: 26.25rem; // 420px/16 base
    }

    @media (min-width:60.063em) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      display: none;
      height: 0;
      opacity: 0;
      // background: $header-bg;

    }

    @media (min-width:64.063em) {
      /* big landscape tablets, laptops, and desktops */

    }

    @media (min-width:80.063em) {
      /* hi-res laptops and desktops */

    }



  }

  .tagLine {
    display: none;
    opacity: 0;
    font-family: 'Oswald', sans-serif;
    color: $secondary-text;
    text-transform: uppercase;
    flex: 2;
    text-align: center;


    @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

    }

    @media (min-width:30.063em) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    }

    @media (min-width:40.063em) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    }

    @media (min-width:60.063em) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      // background: $header-bg;
      display: inline-block;
      opacity: 1;

    }

    @media (min-width:64.063em) {
      /* big landscape tablets, laptops, and desktops */

    }

    @media (min-width:80.063em) {
      /* hi-res laptops and desktops */

    }




    @media only screen and (max-width: 720px) {
    }

  }

  .navButton {
    align-self: center;
    margin-right: 1em;
    margin-left: auto;

    @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

    }

    @media (min-width:30.063em) {
      /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    }

    @media (min-width:40.063em) {
      /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
      margin-right: 2em;


    }

    @media (min-width:60.063em) {
      /* tablet, landscape iPad, lo-res laptops ands desktops */
      // background: $header-bg;
      color: $really-dark-blue;

      &:hover {
        color: lighten($really-dark-blue, 15%);
      }

    }

    @media (min-width:64.063em) {
      /* big landscape tablets, laptops, and desktops */

    }

    @media (min-width:80.063em) {
      /* hi-res laptops and desktops */

    }

  }
  .socials {
    flex: 1;
    flex-flow: row;
    align-self: center;
    justify-content: space-between;

    .social {
      display: inline-block;
      margin: 0.25em;
      width: 1em;
      flex: 1;
      color: #081E74;
      font-size: 32px;
      transition: 0.6s;
      text-shadow: 0 0 7px $shadow;

      &:hover {
        color: lighten(#081E74, 20%);
        font-size: 40px;
        text-shadow: 0 0 1px $shadow;
      }
    }
  }


}