@import '~../../scss/variables';
@import '~modularscale-sass/stylesheets/modular-scale';

.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  background: #93b7d6;
  margin-bottom: 2em;
  padding: 0.5em;

  @media only screen and (max-width: 720px) {
    flex-flow: row;
    algin-items: center;
    height: 100px;
    padding: 0;
    align-items: flex-end;
    position: absolute;
    // background: white;
  }

  .logo {
    display: none;
    height: 0;
    opacity: 0;

    @media only screen and (max-width: 720px) {
      flex: 1;
      display: inline-block;
      height: auto;
      width: 50%;
      opacity: 1;
      align-self: center;
    }
  }

  .tagLine {
    flex: 2;
    align-self: center;
    text-align: center;
    font-size: ms(1);

    @media only screen and (max-width: 720px) {
      display: none;
      height: 0;
      opacity: 0;
    }

  }

  .navButton {
    margin-right: 2em;
    margin-bottom: 1.5em;

    @media only screen and (max-width: 720px) {
      margin-right: 1em;
    }
  }
  .socials {
    flex: 1;
    flex-flow: row;
    align-self: center;
    justify-content: space-between;

    .social {
      display: inline-block;
      margin: 0.25em;
      width: 1em;
      flex: 1;
      color: #081E74;
      font-size: 32px;
      transition: 0.6s;
      text-shadow: 0 0 7px $shadow;

      &:hover {
        color: lighten(#081E74, 20%);
        font-size: 40px;
        text-shadow: 0 0 1px $shadow;
      }
    }
  }


}