/// OLD STOP USING ///////////////////
$dark-blue: #396c97;
$really-dark-blue: #05233C;
$light-blue: lighten($dark-blue, 30%);

// Background Colors
$question-bgcolor: #CFDCE6;
////////////////////////////////////
///

// Text Colors
$primary-text: #E9F3F5;
$secondary-text: lighten(#555, 42%);
$silver-text: grayscale(darken($primary-text, 32%));

// Monochromatic
$primary-color: #396c97;
$primary-dark: #05233c;
// $primary-dark: #174664;
$primary-accent: #34a0e3;
$greyish-blue: #313F4C;
$primary-contrast: #F8ECAB;

$shadow: darken($primary-dark, 15%);


// modular scale setup
$ms-base: 1em;
$ms-ratio: 1.25;

// Vertical rhythm check
@mixin baseline-grid( $line-height:24 ) {

  position: relative;

  &:after {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999;
    content: '';
    display: block;
    pointer-event: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(http://basehold.it/image.php?height=#{$line-height}) repeat top left;
  }

  &:active:after {
    display: none;
  }
}