@import '~modularscale-sass/stylesheets/modular-scale';
@import './app/scss/variables';
@import './app/scss/colors';

//-- Color configuration
// $color-divider: $palette-grey-200 !default;
// $color-background: $color-white !default;
$color-text: $primary-text !default;
$color-text-secondary: $secondary-text !default;

$color-primary: $primary-color !default;
$color-primary-dark: $primary-dark !default;
$color-accent: $primary-accent !default;
$color-accent-dark: darken($primary-accent, 15%) !default;
// $color-primary-contrast:  $primary-contrast !default;
// $color-accent-contrast: darken($primary-contrast, 15%) !default;

//-- Sizing
$unit: 0.75rem !default;

// -- Fonts
$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-size: 1.2 * $unit !default;
$font-size-tiny: $unit !default;
$font-size-small: 1.1 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 1.5 * $unit !default;
$font-weight-thin: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
