.wrapper {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  width: 95%;
  margin-top: 1em;
  background-color: #ddd;

  &:first-child {
    align-self: flex-start;
  }

  &:nth-child(2) {
    margin-bottom: 1em;
    align-self: flex-end;
  }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    width: 45%;
    margin: 0;
    align-self: initial !important;
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.questionWrapper {
  position: relative;
  overflow: hidden;
  height: 7em;
  margin: 0;

  &:hover .answerLeft,
  &:focus .answerLeft {
    left: 0%;
  }

  &:hover .answerRight,
  &:focus .answerRight {
    right: 0%;
  }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    height: 10em;
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.questionDiv,
.answerLeft,
.answerRight {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;

}

.questionDiv {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.question {
  align-self: center;
  font-size: ms(0);
  font-family: 'Oswald', Impact, 'Arial Black', 'sans serif';
  text-align: center;
  color: #222;

  .left & {
    padding-left: 1.5em;
  }

  .right & {
    padding-right: 1.5em;

  }
  //  there are specific left and right styling below nested in .left and .right
  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    font-size: ms(2);
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.pullTab {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  background: $primary-dark;
  color: lighten($primary-dark, 5%);
  font-size: ms(2);
  text-shadow: -1px 0 $primary-accent, 0 1px $primary-accent, 1px 0 $primary-accent, 0 -1px $primary-accent;
  padding: 0 1.5%;
}

.answerLeft,
.answerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .7s ease-out;

  & ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
}

.answerLeft {
  left: -90%;
  background-image: linear-gradient(to left, $primary-dark, $primary-accent 23%, #dfdfdf 150%);

  & > div[class^="style__pullTab"] { // .pullTab positioning
    right: 0;
  }

  & ul {
    padding-right: 2em;
  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    left: -95%;
  }

}

.answerRight {
  right: -90%;
  background-image: linear-gradient(to right, $primary-dark, $primary-accent 23%, #dfdfdf 150%);

  & > div[class^="style__pullTab"] { // .pullTab positioning
    left: 0;
  }

  & ul {
    padding-left: 2em;
  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    right: -95%;
  }
}

.answerItem {
  max-width: 600px;
  font-size: ms(-1);

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    font-size: ms(1);
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}


.left,
.right {
  border-top: 1.25px solid darken($primary-dark, 3%);
  border-bottom: 1.25px solid darken($primary-dark, 3%);

  &:first-child {
    border-top: 2.5px solid darken($primary-dark, 3%);
  }

  &:last-child {
    border-bottom: 2.5px solid darken($primary-dark, 3%);
  }
}

.left {
  border-right: 2.5px solid darken($primary-dark, 3%);
  text-align: center;
}

.right {
  border-left: 2.5px solid darken($primary-dark, 3%);
  text-align: center;
}