.wrapper {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  width: 95%;
  margin-top: 1em;
  background-color: #ddd;

  &:last-child {
    margin-bottom: 1em;
  }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    width: 45%;
    margin: 0;



  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.questionWrapper {
  position: relative;
  overflow: hidden;
  height: 10em;
  margin: 0;

  .questionDiv,
  .answerLeft,
  .answerRight {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

  }

  .questionDiv {
    display: flex;
    justify-content: center;

    .question {
      align-self: center;
    }
  }

  .answerLeft,
  .answerRight {
    background: orange;
    transition: .7s ease-out;
  }

  .answerLeft {
    left: -100%;
  }

  .answerRight {
    right: -100%;
  }

  &:hover .answerLeft,
  &:focus .answerLeft {
    left: 0%;
  }

  &:hover .answerRight,
  &:focus .answerRight {
    right: 0%;
  }
}

.left,
.right {
  border-top: 1.25px solid darken($primary-dark, 3%);
  border-bottom: 1.25px solid darken($primary-dark, 3%);

  &:first-child {
    border-top: 2.5px solid darken($primary-dark, 3%);
  }

  &:last-child {
    border-bottom: 2.5px solid darken($primary-dark, 3%);
  }
}

.left {
  border-right: 2.5px solid darken($primary-dark, 3%);
  text-align: right;
}

.right {
  border-left: 2.5px solid darken($primary-dark, 3%);
  text-align: left;
}