@import '~../../scss/variables';
@import '~modularscale-sass/stylesheets/modular-scale';

.navWrapper {
  display: flex;
  flex-flow: column;

}

.link {
  margin: 0.3em !important;
  padding: 0.2em 0 !important;
  font-size: ms(3) !important;
  text-decoration: underline !important;
  color: $text-white !important;
}

.modalContent {
  width: 25% !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  @media only screen and (max-width: 720px) {
    width: 75% !important;
  }

  & > div {
    border-radius: 10px !important;
    background-color: $really-dark-blue !important;

    background-image: url("http://www.transparenttextures.com/patterns/grey-washed-wall.png") !important;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
}