@import '~../../scss/variables';
@import '~modularscale-sass/stylesheets/modular-scale';

.navBars {
  color: $really-dark-blue;
  font-size: ms(3);
  transition: .6s;

  &:hover {
    color: lighten($really-dark-blue, 15%);
  }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    // background: $header-bg;
    color: $header-text;

    &:hover {
      color: $really-dark-blue;
    }

  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }

  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}


.dialog {
  font-family: 'Oswald', sans-serif;
  width: 75vw;
  height: 50vh;
  border-radius: 10px;
  background-color: $really-dark-blue;
  background-image: url("http://www.transparenttextures.com/patterns/grey-washed-wall.png");

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    width: 70vw;
  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    width: 45vw;
  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 40vw;
  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */
    width: 30vw;
  }


  section[role='body'] {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

  & > nav[role='navigation'] {
    display: none;
  }
}

.link {
  font-family: inherit;
  color: $header-text;
  border: 0 solid $really-dark-blue;
  transition: all 0.4s ease-in 0.2s;

  &:hover {
  color: $text-white;
  border-bottom: 0.1em solid $header-text;
  border-top: 0.1em solid $header-text;
  }

  & > span {
    font-size: ms(1);
    color: inherit;
    transition: 0.5s;
    z-index: 1;


  }
}