@import '~../../scss/variables';
@import '~modularscale-sass/stylesheets/modular-scale';

.navBars {
  color: $really-dark-blue;
  font-size: ms(3);
  transition: .3s;
  text-shadow: 0 0 5px $primary-text;

  &:hover {
    color: lighten($really-dark-blue, 8%);
    text-shadow: 0 0 0 $primary-text;
  }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */


  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }

  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}


.dialog {
  font-family: 'Oswald', sans-serif;
  width: 75vw;
  height: 60vh;
  border-radius: 3px;
  background-color: $really-dark-blue;
  // background from http://www.transparenttextures.com/
  // by:  Wilmotte Bastien
  background-image: url(../../images/light-mesh.png);

  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    width: 70vw;
  }

  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    width: 45vw;
  }

  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 40vw;
    height: 50vh;
  }

  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */
    width: 30vw;
  }


  section[role='body'] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }

  & > nav[role='navigation'] {
    display: none;
  }
}

.link {
  font-family: inherit;
  color: $secondary-text;
  border: 0 solid $really-dark-blue;
  transition: all 0.4s ease-in;
  transition-delay: 0.1s;
  box-shadow: 0 0 0 $primary-text inset;
  padding: 0;

  &:hover {
  color: $primary-text;
  // text-decoration: underline;
  // border-bottom: 0.1em solid $secondary-text;
  // border-top: 0.1em solid $secondary-text;
  box-shadow: 0 0 13px $primary-text inset;
  }

  & > span {
    font-size: ms(1);
    color: inherit;
    text-decoration: inherit;
    transition: all 0.4s ease-out;
    z-index: 1;


  }
}