@import '~../../scss/variables';
.wrapper {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)),
                    url('../../images/desk-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  text-align: center;

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.heading {
  font-family: 'Oswald', Impact, 'Arial Black', 'sans serif';
  margin-top: auto;
  max-width: 600px;
  width: 75%;
  color: $primary-text;

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.title {
  display: none;
  letter-spacing: 2px;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  border-bottom: 1px solid $primary-text;
  color: inherit;
  text-shadow: 0 0 5px $shadow;

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    display: block;
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.owner {
  color: grayscale(darken($primary-text, 32%));
  text-shadow: 0 0 5px $shadow;
  position: absolute;
  transform: rotate(270deg);
  left: -3em;
  top: 10rem;
  font-size: ms(2);

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    font-size: ms(3);
    top: 15rem;
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}
@keyframes pulse {
  0% {
    color: $primary-color;
  }

  50% {
    color: darken($primary-color, 8%);
  }

  100% {
    color: $primary-color;
  }
}
.nav {
  margin-top: 3em;
  color: $primary-text;

  .message {

  }

  .chevronButton {
    width: auto;
    height: auto;
    margin-bottom: 0.75em;
    box-shadow: 0 0 0 0 $shadow;
    transition: .4s ease-in-out;

    &:hover {
      color: lighten($primary-dark, 23%);
      box-shadow: 0 0 13px 1px $shadow;
    }
    .chevron {
      animation: pulse 2.5s infinite;
      font-size: 1.5em;

    }
  }
}

.next {

}

