.wrapper {
  align-items: center;
  // background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)),
  //                   url('../../images/desk-bg.png');
  // background-position: center;
  // background-size: cover;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  background: linear-gradient(to top, $primary-dark -10%, $primary-color 15%, $primary-accent 130%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: -90vh;
  left: 0;
  display: flex;
  flex-flow: column;
  text-align: center;

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    // bottom: 0;
  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.bar {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  z-index: 3;

   @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin-top: 7rem;

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }

}

.owner {
  font-family: 'Oswald', Impact, 'Arial Black', 'sans serif';
  color: $silver-text;
  text-shadow: 0 0 3px $shadow;
  position: absolute;
  transform: rotate(270deg);
  width: 100%;
  right: 45vw;
  top: 13rem;
  font-size: ms(0);
  letter-spacing: 2px;
  z-index: 13;

  @media (min-width:20em) {
      /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    font-size: ms(1);
    top: 25rem;
  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    font-size: ms(3);
    width: 100%;
    margin: auto;
    position: initial;
    transform: rotate(0deg);
  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

@keyframes pulse {
  0% {
    color: $primary-color;
  }

  50% {
    color: darken($primary-color, 8%);
  }

  100% {
    color: $primary-color;
  }
}
.nav {
  color: $primary-text;

  .message {

  }

  .chevronButton {
    width: auto;
    height: auto;
    margin-bottom: 0.75em;
    box-shadow: 0 0 0 0 $shadow;
    transition: .4s ease-in-out;

    &:hover {
      color: lighten($primary-dark, 23%);
      box-shadow: 0 0 13px 1px $shadow;
    }
    .chevron {
      animation: pulse 2.5s infinite;
      font-size: 1.5em;

    }
  }
}

.testimonials {
  margin: auto;
}

