.app {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: auto;
  width: auto;
  padding: 1em;
}

.logo {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
}
