@import '~../../scss/variables';

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background: #ddd;
  height: auto;
  width: auto;
  padding: 1em;
}

.logo {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
}

.engagement {
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

